<a href="https://colab.research.google.com/github/SINUVMATHEW/ineedtolearn/blob/learn_py/TASK_21.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.  Using the dataset given below,
  - Group the given dataset by A and find the sum of the groups.
  - Find the 3 least elements from the column D
  - Find the 3 largest elements from the Column D which belongs to the group
  'bar'.

In [17]:
import pandas as pd
import numpy as np
df = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar',
                          'foo', 'bar', 'foo', 'foo'],
                   'B' : ['one', 'one', 'two', 'three',
                          'two', 'two', 'one', 'three'],
                   'C' : np.random.randn(8),
                   'D' : np.random.randn(8)})
df
#please type your code below this line.
grouped = df.groupby('A')
grouped.sum()
df.nsmallest(3, ['D'])
df.nlargest(3, ['D'])
df.groupby(['A']).get_group(('bar'))

     A      B         C         D
1  bar    one  0.411907  1.595233
3  bar  three -0.633897 -0.478110
5  bar    two -0.009201  0.852866

2. Using the dataset given below,
  - convert the dataset into a csv file.
  - read the csv file just saved
  - covert the dataset into a excel file.
  - read the excel file just saved.

In [8]:
import pandas as pd
import numpy as np
df = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar',
                          'foo', 'bar', 'foo', 'foo'],
                   'B' : ['one', 'one', 'two', 'three',
                          'two', 'two', 'one', 'three'],
                   'C' : np.random.randn(8),
                   'D' : np.random.randn(8)})
#please type your code below this line.
df.to_csv('file2.csv', header=False, index=False)
dd = pd.read_csv('/content/file2.csv')
print(dd)
df.to_excel('file.xlsx')
d2 = pd.read_excel('/content/file.xlsx')
print(d2)

   foo    one  -0.7646065424353579  0.5546676456346211
0  bar    one             0.468286            0.599179
1  foo    two             0.365383            0.371068
2  bar  three            -0.612919           -0.527035
3  foo    two             0.428692           -0.013160
4  bar    two            -1.697679            1.299938
5  foo    one            -1.007458            0.859131
6  foo  three             0.925972           -0.973991
   Unnamed: 0    A      B         C         D
0           0  foo    one -0.764607  0.554668
1           1  bar    one  0.468286  0.599179
2           2  foo    two  0.365383  0.371068
3           3  bar  three -0.612919 -0.527035
4           4  foo    two  0.428692 -0.013160
5           5  bar    two -1.697679  1.299938
6           6  foo    one -1.007458  0.859131
7           7  foo  three  0.925972 -0.973991